{% extends "user/base.html" %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/user/adicionar_saldo.css') }}">

<div class="add-saldo-form">
    <h3>Adicionar Saldo</h3>

    <form method="POST">
        <label for="valor">Valor a adicionar:</label>
        <input type="number" id="valor" name="valor" step="0.01" min="0" required>

        <button type="submit">Adicionar Saldo</button>
    </form>

    {% if mensagem %}
        <p class="mensagem">{{ mensagem }}</p>
    {% endif %}
</div>
{% endblock %}
