<h3>Devolução de Bicicleta</h3>

{% if alugueis_ativos %}
    <ul>
        {% for aluguel in alugueis_ativos %}
            <li>
                <h4>{{ aluguel.bicicleta.modelo }}</h4>
                <p>Estação atual: {{ aluguel.bicicleta.estacao.nome }}</p>
                <p>Status: {{ aluguel.bicicleta.status }}</p>

                {% if aluguel.bicicleta.status == 'alugada' %}
                    <form method="POST" action="{{ url_for('user.devolver_bicicleta', aluguel_id=aluguel.id) }}">
                        <label for="estacao_{{ aluguel.id }}">Escolha a estação de devolução:</label>
                        <select id="estacao_{{ aluguel.id }}" name="estacao_id" required>
                            {% for estacao in estacoes %}
                                <option value="{{ estacao.id }}">{{ estacao.nome }} - {{ estacao.localizacao }}</option>
                            {% endfor %}
                        </select>
                        <button type="submit">Devolver Bicicleta</button>
                    </form>
                
                
                {% else %}
                    <p>Esta bicicleta já foi devolvida.</p>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>Você não tem bicicletas alugadas no momento.</p>
{% endif %}
