{% extends "admin/base_admin.html" %}

{% block content %}
<h2>Bicicletas</h2>
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="alert alert-{{ category }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}
<a href="{{ url_for('admin.adicionar_bicicleta') }}">Adicionar Bicicleta</a>
<ul>
    {% for bicicleta in bicicletas %}
    <li>
        {{ bicicleta.modelo }} - Série: {{ bicicleta.numero_serie }} (Status: {{ bicicleta.status }})
        <br>
        Estação: {{ bicicleta.estacao.nome if bicicleta.estacao else 'Nenhuma estação' }}
        <form action="{{ url_for('admin.remover_bicicleta', id=bicicleta.id) }}" method="POST" style="display:inline;">
            <button type="submit">Remover</button>
        </form>
    </li>
    {% endfor %}
</ul>
{% endblock %}